<h1 class="pt-4 pt-md-5 pr-3 pl-3 mt-1">
    Migrate your NFT CDP position.
</h1>
<h2 class="pr-3 pl-3">
    Move your CDP position to more profitable provider in one single transaction.
</h2>
<div class="container mt-4 mt-md-4 p-0 p-md-3">
    <div class="d-flex flex-column flex-md-row justify-content-around">
        <div class="card col-12 col-md-3 mb-2 mb-md-0">
            <h5 class="card-title mt-2" style="position: absolute;">NFT</h5>
            <img src="assets/compound.svg" class="card-img-top p-5 border-bottom compound-logo" alt="Compound">
            <div class="card-body text-center">
                <a href="#" class="btn btn-info" routerLink="/manage">Start import</a>
            </div>
        </div>
        <div class="col-12 col-md-2 mb-2 mb-md-0 text-center align-self-center">
            <fa-icon [icon]="copyIcon" style="font-size: 72px;opacity: 0.5;"></fa-icon>
        </div>
        <div class="card col-12 col-md-3 mb-2 mb-md-0 inactive">
            <h5 class="card-title mt-2" style="position: absolute;">NFT</h5>
            <img src="assets/aave.svg" class="card-img-top p-5 border-bottom compound-logo" alt="Compound">
        </div>
    </div>
</div>
