<h1 class="pt-4 pt-md-5 pr-3 pl-3 mt-1">
    Import CDP postion.
</h1>
<h2 class="pr-3 pl-3">
    Wallet CDP position needs to be imported first, before you can manage it.
</h2>
<div class="container mt-4 mt-md-4 p-0 p-md-3">
    <div class="d-flex flex-column flex-md-row justify-content-around">
        <div class="card col-12 col-md-3 mb-2 mb-md-0">
            <img src="assets/compound.svg" class="card-img-top p-5 border-bottom compound-logo" alt="Compound">
            <div class="card-body text-center">
                <button href="#" class="btn btn-info" (click)="createNewPosition()">Start import</button>
            </div>
        </div>
        <div class="col-12 col-md-2 mb-2 mb-md-0 text-center align-self-center">
            <fa-icon *ngIf="!loading" [icon]="copyIcon" style="font-size: 72px;opacity: 0.5;"></fa-icon>
            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
        </div>
        <div class="card col-12 col-md-3 mb-2 mb-md-0 inactive">
            <h5 class="card-title mt-2" style="position: absolute;">NFT</h5>
            <img src="assets/compound.svg" class="card-img-top p-5 border-bottom compound-logo" alt="Compound">
        </div>
    </div>
</div>
