<h1 class="pt-2 pr-3 pl-3 pt-md-5 mt-1">
    CDP migration aggregator with the best usability on the market.
</h1>
<h2 class="pr-3 pl-3">
    Achieving best results by using flash loans in one single transaction. Open Source with clear and simply API.
</h2>
<div class="container mt-5 mt-md-4 p-0 p-md-3">
    <div class="d-flex justify-content-around">
        <div class="card col-12 col-md-3">
            <img src="assets/aave.svg" class="card-img-top p-5 border-bottom" alt="AAVE">
            <div class="card-body pb-2 border-bottom">
                <h5 class="card-title text-center">Lending</h5>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">100.000 DAI - 10.64% APY</li>
                <li class="list-group-item">10 WBTC - 0.13% APY</li>
            </ul>
            <div class="card-body pb-2 border-bottom">
                <h5 class="card-title text-center">Borrowing</h5>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">70.000 USDC - 5.44% APY</li>
                <li class="list-group-item">100.000 ZRX - 3% APY</li>
            </ul>
            <div class="card-body text-center">
                <a href="#" class="btn btn-info">Select</a>
            </div>
        </div>
        <div class="card col-12 col-md-3">
            <img src="assets/compound.svg" class="card-img-top p-5 border-bottom compound-logo" alt="Compound">
            <div class="card-body pb-2 border-bottom">
                <h5 class="card-title text-center">Lending</h5>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">100.000 DAI - 10.64% APY</li>
                <li class="list-group-item">10 WBTC - 0.13% APY</li>
            </ul>
            <div class="card-body pb-2 border-bottom">
                <h5 class="card-title text-center">Borrowing</h5>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">70.000 USDC - 5.44% APY</li>
                <li class="list-group-item">100.000 ZRX - 3% APY</li>
            </ul>
            <div class="card-body text-center">
                <a href="#" class="btn btn-info">Select</a>
            </div>
        </div>
        <div class="card col-12 col-md-3">
            <img src="assets/maker.svg" class="card-img-top p-5 border-bottom" alt="MakerDAO">
            <div class="card-body pb-2 border-bottom">
                <h5 class="card-title text-center">Lending</h5>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">100.000 DAI - 10.64% APY</li>
                <li class="list-group-item">10 WBTC - 0.13% APY</li>
            </ul>
            <div class="card-body pb-2 border-bottom">
                <h5 class="card-title text-center">Borrowing</h5>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">70.000 USDC - 5.44% APY</li>
                <li class="list-group-item">100.000 ZRX - 3% APY</li>
            </ul>
            <div class="card-body text-center">
                <a href="#" class="btn btn-info">Select</a>
            </div>
        </div>
    </div>
</div>
